version: '3.4'

services:
  frontend:
    restart: "no"
  identifier:
    ports:
      - "80:80"
    restart: "no"
  dispatcher:
    restart: "no"
  database:
    ports:
      - "8890:8890"
    restart: "no"
  resource:
    restart: "no"
  query-equivalence:
    restart: "no"
